* {
  box-sizing: border-box;
  font-family: 'Arial';
  font-size: 1.2rem;
}

#root {
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-items a {
  text-decoration: none;
}

.dark button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.main {
  padding: 10px;
  flex: auto;
}

.light {
  background-color: rgb(0, 0, 0, 0.13);
  color: #131313;
}
.dark {
  background-color: #131313;
  color: #fff;
}

.header {
  padding: 10px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #131313;
}
.footer {
  padding: 10px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #131313;
}

.dark .footer {
  border-top: 1px solid white;
}

.dark .header {
  border-bottom: 1px solid white;
}

.dark a {
  color: white;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin-top: 10px;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  color: darkorange;
}
.blog {
  display: flex;
  justify-content: space-between;
}
.content {
  flex: 1 75%;
  padding: 10px;
}
.aside {
  flex: 1 25%;
  padding: 10px;
}

/* Login page style */
.form {
  max-width: 600px;
}

.form-item {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.form-item > .label {
  flex: 1 1 100px;
}

.form-item > input,
.form-item > textarea,
.form-item > span,
.form-item > button {
  flex: 3 1 300px;
}
.error {
  color: #c04040;
}

.active {
  font-weight: bold;
}

.success {
  color: green;
}
